# OpenResume service env
NEXT_PUBLIC_SITE_URL=http://localhost:8080/resume
RESUME_STORAGE_BUCKET=${S3_BUCKET}
S3_ENDPOINT=${S3_ENDPOINT}
S3_ACCESS_KEY=${S3_ACCESS_KEY}
S3_SECRET_KEY=${S3_SECRET_KEY}

# Analytics/Observability
SENTRY_DSN=
